@model List<BookModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookish</h1>
    <p>@foreach (var book in Model)
    {
        <li class="listStyle">
        
            @Html.ActionLink(
                linkText: book.Title,
                actionName: "BookView",
                routeValues: new {id=book.Id})
            
            <p>@book.Author</p>
            <p>@book.Id</p>
        </li>
        
    }</p>
</div>